/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    /*transition: margin-left .5s;*/
    padding: 20px;
    font-family: 'Josefin Slab', serif;
}

#intro {
    color: white;
    padding: 5px;
    background-color: darkred;
    padding: 60px 0px 20px 0px;
    margin: 30px -20px 0px -20px;
    font-family: 'Lato', sans-serif;
}

#band {
    color: white;
    padding: 5px;
    background-color: darkred;
    padding: 30px 0px 30px 30px;
    margin: 30px -20px 0px -20px;
    font-family: 'Lato', sans-serif;
}

#title {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.jumbotron {
    background-image: url(texture.jpg);
    background-repeat: repeat;
    background-color: #D7FAEA;
    padding: 10px 0px 10px 0px;
    margin: 0px -20px 0px -20px;
    text-align: center;
}

#logo {
    width: 30%;
    border-radius: 5px 5px 5px 5px;
}

#style {
    font-size: 18px;
    margin: 0px 20px 0px 20px;
    padding-bottom: 30px;
    text-align: justify;
}

.center {
    background: url(nobgtexture.png);
    background-color: rgb(252, 252, 252);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: -20px;
    margin-left: -20px;
}

#about {
    background: url(nobgtexture.png);
    background-color: rgb(240, 240, 240);
    padding: 60px 40px 20px 40px;
    margin-right: -20px;
    margin-left: -20px;
}

#centerbody {
    padding: 40px 10px 40px 0px;
    font-size: 20px;
    text-align: justify;
}

    
.carousel-inner img {
    width: 70%; /* Set width to 100% */
    min-height: 200px;
    margin: auto;
}


  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
    #logo {
        height:;
    }
}

body {
    background-image: url(texture.jpg);
}


#signup {
    background-color: rgb(245, 245, 245);
    padding: 60px 0px 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contact {
    background-color: rgb(130, 130, 130);
    color: white;
    padding: 60px 10px 0px 0px;
}

.tickets {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tickets a {
    font-size: 17px;
    background-color: black;
    color: lightgray;
    padding: 13px;
    border-radius: 3px 3px 3px 3px;
}

.tickets a:hover {
    outline: 0;
    background-color: darkred;
    color: white;
    outline: 0;
    text-decoration: none;
    padding: 13px;
    border-radius: 3px 3px 3px 3px;
    transition: color 0.15s ease-in, background 0.15s ease-in;
}

.fa {
    background-color: rgb(240, 240, 240);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px 5px 5px 5px;
}

a {
    color: rgb(70, 70, 70);
}

a:hover {
    color: darkred;
    transition: color 0.15s ease-in, background 0.15s ease-in;
}




.col-sm-6 {
    margin-top: 20px;
}

