/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    font-family: 'Josefin Slab', serif;
}

.jumbotron {
    background-repeat: no-repeat;
    background-color: darkred;
    padding: 100px 0px 100px 0px;
    margin: 20px -20px 0px -20px;
    text-align: center;
}

#logo {
    width: 30%;
    border-radius: 5px 5px 5px 5px;
}

/*find a better font for this XD */
/*find a better font for this XD */
/*find a better font for this XD */


#intro {
    color: white;
    padding: 5px;
}

#about {
    background-color: rgb(240, 240, 240);
    padding: 60px 10px 0px 10px;
}

#title {
    text-align: center;
}

#centerbody {
    padding: 40px 10px 40px 0px;
    font-size: 20px;
    text-align: center;
}

#myCarousel {
    margin: 0px -20px 0px -20px;
}

    
.carousel-inner img {
    width: 70%; /* Set width to 100% */
    min-height: 200px;
    margin: auto;
}


  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
}

body {
    text-align: center;
    background-color: rgb(240, 240, 240);
}

#smallsize {
    height: 100%;
}


#signup {
    background-color: rgb(240, 240, 240);
    padding: 40px 10px 40px 0px;
}

#contact {
    background-color: darkred;
    color: white;
    padding: 60px 10px 60px 0px;
    margin: 0px -20px -20px -20px;
}

.tickets {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tickets a {
    font-size: 17px;
    background-color: black;
    color: lightgray;
    padding: 13px;
    border-radius: 3px 3px 3px 3px;
}

.tickets a:hover {
    outline: 0;
    background-color: darkred;
    color: white;
    outline: 0;
    text-decoration: none;
    padding: 13px;
    border-radius: 3px 3px 3px 3px;
    transition: color 0.15s ease-in, background 0.15s ease-in;
}

.fa {
    background-color: rgb(240, 240, 240);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px 5px 5px 5px;
}

a {
    color: rgb(70, 70, 70);
}

a:hover {
    color: darkred;
    transition: color 0.15s ease-in, background 0.15s ease-in;
}




.col-sm-6 {
    margin-top: 20px;
}

